h4{
    color: rgba(67, 66, 65, 0.843);
}
label{
    color: rgba(111, 73, 1, 0.843);
}

.phone{
    border: 1px solid rgb(161, 160, 160);
    color: rgb(161, 160, 160);
    font-size: 13px;
    border-radius: 3%;
    background-color: gainsboro;
    padding: 0px;
    width: 176px;
    margin-left: auto;
    margin-right: auto;
}

form{
    background-color: gainsboro;
    border-radius: 3%;
    padding: 1%;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

